{% extends 'layout.html' %}
{% include 'dashboardAdmin.html' %}

{% block title %} Reporte Clientes {% endblock %}

{% block content %} 
    <br><br><br><br>
    <h1 class="text-center">¡Bienvenido al área de reportes de clientes registrados!</h1>

    <div class="container mt-4">
        <div class="table-responsive">
            <table class="table table-bordered table-striped text-center">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>telefono</th>
                        <th>contrasena</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for r in reportes %}
                    <tr>
                        <td>{{ r.id_registro }}</td>
                        <td>{{ r.nombre}}</td>
                        <td>{{ r.correo }}</td>
                        <td>{{ r.telefono }}</td>
                        <td>{{ r.contrasena }}</td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% include 'paginas_web/zona_admin/footer_admin.html' %}
{% endblock %}