{% extends 'layout.html' %}

{% block title %} Inicio RiskMap {% endblock %}
<body>
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <div class="container-fluid">
    <img src="{{url_for('static', filename='img/logo_principal.png')}}" alt="Logo"
      style="width: 110px; height: 80px; margin-right: 10px;">
    <a class="navbar-brand custom-logo" href="#">RISK MAP</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav align-items-lg-center">
        <li class="nav-item">
          <a class="nav-link custom-link" href="{{url_for('home')}}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" href="{{url_for('mapa_bogota')}}">Mapa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" href="{{url_for('formulario_contacto2')}}">Contactanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" href="{{url_for('formulario_registro')}}">Registrarme</a>
        </li>
      </ul>
      <div class="dropdown">
        <a class="btn custom-btn ms-lg-4 mt-3 mt-lg-0 dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Intranet
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{{url_for('formulario_login_cliente')}}">Cliente</a></li>
          <li><a class="dropdown-item" href="{{url_for('formulario_login_admin')}}">Administrador</a></li>
        </ul>
      </div>
      
      
    </div>
  </div>
</nav>

{% endblock %}
</body>